* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #00000018;
}

header {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 20px;
}

.row {
    display: grid;
    grid-template-columns: 20% 40% 40%;
}

.menu {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 15px;
    border-right: 2px solid #336699;
    position: sticky;
    top: 0;  /* Das Menü bleibt oben, wenn du scrollst */
    align-self: start;
    z-index: 10;
}

.menu ul {
    list-style-type: none;
}

.menu li {
    margin-bottom: 10px;
}

.menu a {
    text-decoration: none;
    color: #333;
}

.content-left {
    padding: 15px;
    border-left: 2px solid #336699;
    background-color: rgba(0, 119, 255, 0.315);
}

.content-left img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0.5cm auto;
}

.content-right {
    padding: 15px;
    border-left: 2px solid #336699;
    background-color: rgba(255, 0, 0, 0.205);
}

.content-right img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0.5cm auto;
}

footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

/* Responsive Design */
@media (max-width: 800px) {
    .row {
        grid-template-columns: 1fr;
        gap: 0;  /* Kein Abstand auf mobilen Geräten */
    }

    .menu {
        width: 100%;
        position: static;
        border-right: none;
        border-bottom: 2px solid #336699;
    }

    .content-left,
    .content-right {
        width: 100%;
    }
}
